﻿@model TestTreeView.Models.HHTBackupViewModels 
@{
    ViewBag.Title = "File Listing";
}
<script type="text/javascript">
       $(function () {

           $(document).ready(function () {
           });

           $(document).on("click", "#btn-Search", function () {
               PopulateFileList($("#selectSize").val());

           });

           //var selectableNodes = findSelectableNodes();
           //var findSelectableNodes = function () {
           //    return $('#tree').treeview('search', [$('#input-select-node').val(), { ignoreCase: true, exactMatch: false }]);
           //};


           $('#input-select-node').on('keyup', function (e) {
               return $('#tree').treeview('search', [$('#input-select-node').val(), { ignoreCase: true, exactMatch: false }]);
               //selectableNodes = findSelectableNodes();
               //$('.select-node').prop('disabled', !(selectableNodes.length >= 1));
           });

           //$('#btn-select-node.select-node').on('click', function (e) {
           //    $('#tree').treeview('selectNode', [selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
           //});

           //$('#btn-unselect-node.select-node').on('click', function (e) {
           //    $('#tree').treeview('unselectNode', [selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
           //});

           // Expand/collapse all
           $('#btn-expand-all').on('click', function (e) {
               var levels = $('#select-expand-all-levels').val();
               $('#tree').treeview('expandAll', { levels: levels, silent: $('#chk-expand-silent').is(':checked') });
           });

           $('#btn-collapse-all').on('click', function (e) {
               $('#tree').treeview('collapseAll', { silent: $('#chk-expand-silent').is(':checked') });
           });


           var options = {
               color: "#428bca",
               expandIcon: "glyphicon glyphicon-stop",
               collapseIcon: "glyphicon glyphicon-unchecked",
               nodeIcon: "glyphicon glyphicon-user",
               //onNodeSelected:selectNode(),
               showTags: true,
               levels: 1,
               //data: getTree()
               data: PopulateFileList(5)  //getTree()
           };

           $('#tree').treeview(options);



           function PopulateFileList(selectSize) {
               $.ajax({
                   type: "GET",
                   url: "@Url.Content("~/")HHTBackup/PopulateFileList",
                   data: ({ selectSize: selectSize, PathValue: $("#FilePath").val() }),
                   dataType: "json",
                   success: function (result) {
                       if (result != null) {
                           var a = JSON.stringify(result);

                           $('#tree').treeview(
                               {
                                   color: "#428bca",
                                   expandIcon: "glyphicon glyphicon-folder-close",
                                   collapseIcon: "glyphicon glyphicon-folder-open",
                                   //nodeIcon: "glyphicon glyphicon-download",
                                   //onNodeSelected:selectNode(),
                                   multiSelect: $('#chk-select-multi').is(':checked'),
                                   showTags: true,
                                   enableLinks: true,
                                   levels: 3,
                                   data: a
                               }
                               );
                           $('#tree').on('nodeSelected', function (event, node) {
                               //node.path

                               //nodeId  parentId
                           });
                           //return a;
                       }
                   }
               });
           }



       });

</script>
<h2>File Listing</h2>

@using (Html.BeginForm("List", "HHTBackup", FormMethod.Post))
{
     <div>
    <table style="width: 100%">
        <tr class="Search-Title-Header">
            <td colspan="8">
                Bootstrap Treeview to do File Download.
            </td>
        </tr>

    </table>
</div>
<div class="row">
    <div class="col-sm-4">

        <hr>
        <div class="form-group row">
            <div class="col-sm-4">
                <h4>Paths</h4>
       
            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(u => u.FilePath, Model.FilePathDDL, new {@class="treeviewExpandAll" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary treeviewExpand" id="btn-Search">Search</button>
            </div>
            <div class="col-sm-4">
                <select class="treeviewExpandAll" id="selectSize">
                    <option selected>2</option>
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>200</option>
                    <option>1000</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <div class="col-sm-4"><h4>Search Tree:</h4></div>
            <div class="col-sm-6"><input type="text" class="form-control" id="input-select-node" placeholder="search node..." value=""></div>
        </div>


        <hr>
       @*<div class="checkbox">
            <label>
                <input type="checkbox" class="checkbox" id="chk-select-multi" value="false">
                Multi Select
            </label>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success select-node" id="btn-select-node">Select Node</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-danger select-node" id="btn-unselect-node">Unselect Node</button>
        </div>*@

        <div class="form-group row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary treeviewExpand" id="btn-expand-all">Expand All</button>
            </div>
            <div class="col-sm-4">
                <select class="treeviewExpandAll" id="select-expand-all-levels">
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary treeviewExpand" id="btn-collapse-all">Collapse All</button>
        <hr>

    </div>
    <div class="col-sm-4">
        <div id="tree"></div>
    </div>

</div>
}

