﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<div id="tree"></div>


<script type="text/javascript">
    $(function () {

        $(document).ready(function () {
        });
        function getTree() {

            var defaultData = [
       {
           text: 'Parent 1',
           href: '#parent1',
           tags: ['4'],
           nodes: [
             {
                 text: 'Child 1',
                 href: '#child1',
                 tags: ['2'],
                 nodes: [
                   {
                       text: 'Grandchild 1',
                       href: '#grandchild1',
                       tags: ['0']
                   },
                   {
                       text: 'Grandchild 2',
                       href: '#grandchild2',
                       tags: ['0']
                   }
                 ]
             },
             {
                 text: 'Child 2',
                 href: '#child2',
                 tags: ['0']
             }
           ]
       },
       {
           text: 'Parent 2',
           href: '#parent2',
           tags: ['0']
       },
       {
           text: 'Parent 3',
           href: '#parent3',
           tags: ['2'],
           nodes: [
             {
                 text: 'Child 31',
                 href: '#child31',
                 tags: ['5'],
                 nodes: [
                   {
                       text: 'Grandchild 31',
                       href: '#grandchild31',
                       tags: ['0']
                   },
                   {
                       text: 'Grandchild 32',
                       href: '#grandchild32',
                       tags: ['0']
                   }
                 ]
             },
             {
                 text: 'Child 32',
                 href: '#child32',
                 tags: ['0']
             }
           ]
       },
       {
           text: 'Parent 4',
           href: '#parent4',
           tags: ['0']
       },
       {
           text: 'Parent 5',
           href: '#parent5',
           tags: ['0']
       }
            ];

            var tree = [{ "text": "pics", "nodeId": "101", "parentId": "100", "href": null, "tags": ["4"], "selectable": false, "nodes": [{ "text": "pic1", "nodeId": "102", "parentId": "101", "href": null, "tags": ["4"], "selectable": false, "nodes": [{ "text": "New folder", "nodeId": "103", "parentId": "102", "href": null, "tags": ["4"], "selectable": false, "nodes": [{ "text": "Cherry1.jpg", "nodeId": "103", "parentId": "102", "href": null, "tags": ["4"], "selectable": true, "nodes": null }] }, { "text": "Cherry.jpg", "nodeId": "102", "parentId": "101", "href": null, "tags": ["4"], "selectable": true, "nodes": null }, { "text": "DragonFruit.jpg", "nodeId": "103", "parentId": "101", "href": null, "tags": ["4"], "selectable": true, "nodes": null }, { "text": "orange.jpg", "nodeId": "104", "parentId": "101", "href": null, "tags": ["4"], "selectable": true, "nodes": null }] }, { "text": "pic2", "nodeId": "102", "parentId": "101", "href": null, "tags": ["4"], "selectable": false, "nodes": [{ "text": "sharon.jpg", "nodeId": "102", "parentId": "101", "href": null, "tags": ["4"], "selectable": true, "nodes": null }, { "text": "Strawberry.jpg", "nodeId": "103", "parentId": "101", "href": null, "tags": ["4"], "selectable": true, "nodes": null }, { "text": "tomato.jpg", "nodeId": "104", "parentId": "101", "href": null, "tags": ["4"], "selectable": true, "nodes": null }] }, { "text": "1580589.jpg", "nodeId": "101", "parentId": "100", "href": null, "tags": ["4"], "selectable": true, "nodes": null }, { "text": "apple.jpg", "nodeId": "102", "parentId": "100", "href": null, "tags": ["4"], "selectable": true, "nodes": null }, { "text": "watermelon.jpg", "nodeId": "103", "parentId": "100", "href": null, "tags": ["4"], "selectable": true, "nodes": null }] }];


            return tree;

        };


        var options = {
            color: "#428bca",
            expandIcon: "glyphicon glyphicon-stop",
            collapseIcon: "glyphicon glyphicon-unchecked",
            nodeIcon: "glyphicon glyphicon-user",
            //onNodeSelected:selectNode(),
            showTags: true,
            levels: 1,
            //data: getTree()
            data: PopulateFileList()  //getTree()
        };

        //$('#tree').treeview(options);

        //$('#tree').on('nodeSelected', function (event, node) {
        //    alert('123545');
        //    alert(node.nodeId);
        //    //nodeId  parentId
        //});



        //var y1 = JSON.stringify($('#tbladjustMClist').bootstrapTable('getData'));
        //var y2 = JSON.parse(y1);

        function PopulateFileList() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("PopulateFileList", "Home")', //"Home/PopulateFileList",
                //data: ({ CompanyCode: CompanyCode }),
                dataType: "json",
                success: function (result) {
                    if (result != null) {
                        var a = JSON.stringify(result);

                        $('#tree').treeview(
                            {
                                color: "#428bca",
                                expandIcon: "glyphicon glyphicon-stop",
                                collapseIcon: "glyphicon glyphicon-unchecked",
                                nodeIcon: "glyphicon glyphicon-user",
                                //onNodeSelected:selectNode(),
                                showTags: true,
                                levels: 1,
                                data: a
                            }
                            );
                        $('#tree').on('nodeSelected', function (event, node) {
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("DownloadAttachment", "Home")', //"Home/PopulateFileList",
                                data: ({ path: node.path }),
                                dataType: "json",
                                success: function (result) {
                                    if (result != null)
                                    {
                                        window.location = result;
                                    }
                                    
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });

                            //var filepath = node.path;
                           
                            //nodeId  parentId
                        });
                        //return a;
                    }
                }
            });
        }



    });

</script>
