﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bootstrap Treeview to do File Download.</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap-treeview.css" rel="stylesheet" />
   @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery-1.7.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.9.custom.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap-treeview.js")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bootstrap Treeview", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li>@Html.ActionLink("TreeView", "List", "HHTBackup")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Harris Yer Testing TreeView Application</p>
        </footer>
    </div>

   
    @RenderSection("scripts", required: false)
</body>
</html>
